.btn {
    text-align: center;
    position: fixed;
    font-size: 1.2rem;
    top: calc(var(--nav-size) + .4rem);
    left: 10%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 100;

    &:hover {
        color: green;
    }

    & :active {
        color: var(--nav-active-text-active);
    }
}

@media screen and (min-width: 1200px){
    .btn {
        left: calc(50vw - 480px);
    }
}